  /* Create an accessible color palette using var()function */
  /* https://www.w3schools.com/css/css3_variables.asp */


  .skip {
    position: absolute;
    left: -10000px;
    top: auto;
    width: 1px;
    height: 1px;
    overflow: hidden;
  }


  .skip:focus {
    position: static;
    width: auto;
    height: auto;
  }

  header {
    text-align: center;
    padding: 50px;
   }



  form {
    display: grid;
    grid-template-columns: 50% 50%;
    border: 1px solid #ccc;
    border-radius: 16px;
    width:70%;
    margin: 20px auto;
    padding: 20px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    color: black;
    background: rgb(79, 123, 255);
  }

  .radio {
    grid-column-start: 1;
    grid-column-end: 3;
    /* background: #575294; */
    color: black;
  }

  #name {
    width: 100%;
    padding: 10px;
    font-size: 18px;
    font-weight: bold;
    background: white;
    color: black;
  }

  #message {
    width: 100%;
    padding: 10px;
    resize: vertical;
  }

  input,
  textarea {
    padding: 10px;
    border: 1px solid #ccc;
    width: 100%;
  }

  input[type="submit"] {
    width: 100%;
    padding: 10px;
    background-color: #147617;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }

  input[type="submit"]:hover {
    background-color: #147617;
  }


  body{
    font-family:"Madimi One", sans-serif;
  }

  .madimi-one-regular {
    font-family: "Madimi One", sans-serif;
    font-weight: 400;
    font-style: normal;
  }
